<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta property="og:title" content="hagaki" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="https://hagakipost.herokuapp.com/" />
    <meta property="og:image" content="<%=@image_url %>" />
    <meta property="og:site_name"  content="hagaki" />
    <meta property="og:description" content="hagaki" />
 
    <!-- Twitter -->
    <meta name="twitter:title" content="hagaki" />
    <meta name="twitter:description" content="hagaki" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://hagakipost.herokuapp.com/" />
    <meta name="twitter:creator" content="@<%=@user.nickname %>">
    <meta name="twitter:image" content="<%=@image_url %>" />
  </head>
  <body>
    <%= image_tag(@image_url) %>
  </body>
</html>