<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= @tweet.content %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= link_to 'edit', edit_tweet_path(@tweet), class: 'btn btn-info btn-lg btn-block' %>
    <%= link_to 'delete', tweet_path(@tweet), class: 'btn btn-danger btn-lg btn-block', method: :delete, data: { confirm: '本当に削除しますか？' } %>
  </div>
</div>
